run-name: Deploy to Production
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy to Production
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_IP }}
          username: ${{ secrets.VPS_HOSTNAME }}
          password: ${{ secrets.VPS_PASSWORD }}
          script: |
            cd /var/www/crowdfunding-backend
            sudo git pull origin main
            sudo docker compose up --build -d
